body {
    display: flex;
    justify-content: center;
}

#main-content {
    width: 900px;
    background: rgba(0, 0, 0, 0.1);
}

    #main-content #title {
        text-align: center;
    }

.navbar {
    border-bottom: solid gray 1px !important;
    background: white;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}